/* Base styles for Shopify theme */

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  display: grid;
  grid-template-rows: auto auto 1fr auto;
  grid-template-columns: 100%;
  min-height: 100%;
  margin: 0;
  font-size: 1.5rem;
  letter-spacing: 0.06rem;
  line-height: 1.8;
  font-family: var(--font-body-family);
  font-style: var(--font-body-style);
  font-weight: var(--font-body-weight);
}

.skip-to-content-link {
  position: absolute;
  top: -40px;
  left: 6px;
  background-color: var(--color-background);
  color: var(--color-foreground);
  padding: 8px;
  z-index: 999;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.4rem;
}

.skip-to-content-link:focus {
  top: 6px;
}

.visually-hidden {
  position: absolute !important;
  overflow: hidden;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  word-wrap: normal !important;
}

.focus-none {
  outline: none;
}

.button {
  font-family: inherit;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: 0;
  padding: 1.5rem 3rem;
  text-decoration: none;
  background-color: rgba(var(--color-button), var(--alpha-button-background));
  color: rgb(var(--color-button-text));
  min-width: calc(12rem + var(--buttons-border-width) * 2);
  min-height: calc(4.5rem + var(--buttons-border-width) * 2);
  transition: box-shadow var(--duration-short) ease;
  -webkit-appearance: none;
  appearance: none;
}

.gradient {
  background: var(--gradient-background);
  background-attachment: fixed;
}

/* Content for layout */
.content-for-layout {
  flex: 1;
}
